# Error Handling
ErrorDocument 404 /goldmanstacks/view/error/index.php?code=404
ErrorDocument 403 /goldmanstacks/view/error/index.php?code=403
ErrorDocument 500 /goldmanstacks/view/error/index.php?code=500

# Block directory access
Options -Indexes

# Remove php extension
RewriteEngine on 

RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]

RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]
