/*---------+
| Defaults |
+---------*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

input:focus, select:focus/*, textarea:focus, button:focus*/ {
    outline: none;
}

body {
	margin: 0;
    font-family: 'Roboto', 'Open Sans', arial, helvetica;
}

a {
    color: #000000;
	text-decoration: none;
}

button {
    font-family: inherit;
    padding: 0;
}

p, h5, h4, h3, h2, h1 {
    overflow-wrap: break-word;
    margin: 0;  
}

#title {
    font-size: 2.25em;
    margin: 0 0 0.6em;
    font-weight: normal;
    color: #434343;
}

/*---------------------------+
| Menu Bar (Site Navigation) |
+---------------------------*/
.menubar {
	background-color: #000000;
    box-shadow: 0 0 2px #333333, inset 0 -4px 0 0 #FF9200;
	
	/* animations */
	transition-duration: 0.25s;
	
	/* flex properties */
	display: flex;
	justify-content: space-between;
}

.menugroup {
	margin: 0;
	padding: 0 10px;
	list-style: none;
	
	/* animations */
	transition-duration: 0.25s;
	
	/* flex properties */
	display: flex;
	align-items: center;
	column-gap: 13px;
}

.submenugroup {
	margin: 0;
	padding: 0 10px;
	list-style: none;
	
	/* flex properties */
	display: flex;
	flex-direction: column;
}

.menulogo {
	margin: 0 5px 0 20px;
	padding: 2.5px 5px;
}

.menulogo a {
	font-size: 27.5px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

.menuitem {
	padding: 0;
}

.menuitem a {
    display: block;
    padding: 18px 15px;
	font-size: 17px;
    font-weight: lighter;
	color: #ffffff;
}

.menuitem:hover,
.menuitem:focus {
	background-color: #ffffff33;
	
	/* animations */
	transition-duration: 0.2s;
}

.selected-item { /* Selected tab (selected menuitem displayed on the menubar) */
    box-shadow:inset 0 -4px 0 0 #ffffff;
}

.menutoggle/*, .togglebutton*/{ /* Toggle menu button for devices with smaller screens */
    display: none;
}

/*--------------+
| Notifications |
+--------------*/
.sys-notification {
    padding: 5px;
    background-color: #ff9200;
    color: black;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 4px -4px #333333;
}

.notification {
    cursor: pointer;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 50px;
    
    font-size: 1em;
    margin: 15px auto 0 auto;
    padding: 0 20px;
    color: #fff;
    background-color: #00000010;
    border: none;
    
    overflow: hidden;
    
    animation: opacityAnimation;
    animation-duration: 0.5s;
    transition: all 0.2s ease-in-out;
}

.success {
    background-color: #30b309;
}

.failure {
   background-color: #f05f4f; 
}

.collapse {
    background-color: transparent;
    color: transparent;
    height: 0;
}

/*-------------------+
| Content Containers |
+-------------------*/
.container {
    margin: 10px 0;
    padding: 0;
}

.item-banner {
    padding: 10px 15px;
    background-color: #000000;
    color: #ffffff;
}

.item-content {
    padding: 10px;
    background-color: #f3f3f3;
}

.pop-up-content {
    padding: 20px;
    background-color: #ffffff;
    
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -70%);
    
    animation: showPopUpAnimation;
    animation-duration: 0.4s;
}


/*----------------+
| List Containers |
+----------------*/
.list,
.list-padded,
.list-navigation,
.flex-table {
    display: flex;
    flex-direction: column;
}

.list {
    margin: 15px;
}

.list-padded {
    padding: 5px 10px;
}

.list-navigation {
    align-items: flex-start;
}

.flex-table {
    flex-direction: row;
}

.pop-up {
    visibility: hidden;
    opacity: 0;
    transition: 0.1s;
    
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    
    background: #00000050;
}

.show-popup-content {
    opacity: 1;
    visibility: visible;
}

/*--------------------+
| Content Disposition |
+--------------------*/
.max {
   width: 100%; 
}

.main {
    width: 55%;
}

.sub {
    width: 35%;
}

.mini {
    width: 10em;
}

.fixed-sub {
    width: 25em;
}

.prioritize {
    flex-grow: 1;
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.fixed-item {
    position: fixed;
    flex: 1;
}

.flex-center { /* Makes items centered on x axis */
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.flex-center-item { /* Makes items centered on x and y axis */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*------------------+
| Table Disposition |
+------------------*/
.responsive-table {
    width: 100%;
    border-spacing: 0;
}

.responsive-table thead {
    text-align: left;
    font-size: 18px;
}
    
.responsive-table tr:nth-child(even) {
    background-color: #00000015;
}

.responsive-table tbody tr:hover {
    background-color: #00000025;
    cursor: pointer;
}

.responsive-table th, .responsive-table td {
    padding: 4px 2px;
}

.responsive-table th, .responsive-table tr:not(:last-child) td {
    border-bottom: solid;
    border-color: #aaaaaa;
    border-width: 1px;
}

.date,
.desc {
    text-align: left;
}

.balance {
    text-align: right;

}

@media(max-width: 1000px) {
    .responsive-table thead {
        display: none;
        margin: 0;
    }
    
    .responsive-table, .responsive-table tbody, .responsive-table tr, .responsive-table td:not(.hidden) {
        display: block;
        border-radius: 4px;
    }
    
    .responsive-table tr {
        margin: 5px 0;
    }
    
    .responsive-table td {
        padding-left: 120px; 
        padding-right: 0.5rem;
        text-align: right;
        position: relative;
    }
    
    .responsive-table td::before {
        text-align:left;
        content: attr(data-label);
        position: absolute;
        left: 0;
        padding-left: 0.5rem;
        font-weight: bold;
    }
    
    .responsive-table tr td:last-child {
        border-style: none;
        border-width: 0;
    }
}

/*-----------+
| Form Input |
+-----------*/
.form-item {
    display: flex;
    align-items: flex-start;
}

.form-item button, .form-item input[type="submit"] {
    margin-top: 5px;
}

.input-field {
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    font-size: 15px;
    
    /* animation */
    transition-duration: 0.1s;
    
    /* flex */
    flex: 1;
}

.last-field {
    margin-bottom: 0;
}

.input-field:hover {
    border-color: #000000;
    box-shadow: inset 0 0 0 1px #000000;
    
    /* animation */
    transition-duration: 0.3s;
}

.input-field:focus {
    border-color: #ff9200;
    box-shadow: inset 0 0 0 1px #ff9200;
    
    /* animation */
    transition-duration: 0.3s;
}

.input-field::placeholder {
    /*font-weight: bold;*/
}

.switch-field {
    display: flex;
    align-items: center;
}

.switch-field .info {
    padding-left: 10px;
}

.switch-item {
    position: relative;
    display: inline-block;
    width: 51px;
    height: 25px;
}

.switch-item input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #ff9200;
}

input:focus-visible + .slider {
    box-shadow: 0 0 0 2px #000;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/*-------------+
| Button Types |
+-------------*/
.big-color-button, /* Large button - Enlarges and shifts color when hovered upon */
.highlight-button, /* Highlight Button - Takes a darker shade when hovered upon */
.block-button,
.tab-button,
.expand-button, /* Expand Button - Expands when hovered upon (Expand direction is specified with another class (ex: .expand-left)) */
.standard-button { /* Standard Button - Button that changes color when hovered upon*/
    cursor: pointer;
    
    border-width: 0;
    font-size: 16px;
    
    /* animations */
    transition-duration: 0.1s;
}

.big-color-button {  
    margin: 7.5px 0;
    padding: 10px;
    background-color: #f3f3f3;
}

.highlight-button { 
    width: 100%;
    background-color: transparent;
    
    /* animations */
    transition-duration: 0.1s;
}

.tab-button {
    margin-bottom: 10px;
    padding: 10px 10px;
    background-color: #00000010;
    font-size: 17px;
    
    animation-duration: 0.1s;
}

.tab-button i {
    opacity: 1;
    color: #ffffff;
    transition-duration: 0.3s;
}

.tab-button:hover {
    background-color: #ff9200;
    color: #ffffff;
}

.tab-button:not(.selected):hover i  {
    opacity: 0;
    transform: translateX(-10px);
}

.selected {
    background-color: #ff9200;
    color: #ffffff;
}

.selected .toggle-button {
    display: block;
}

.expand-button { 
    padding: 5px 10px;
    background-color: #efefef;
}

.expand-button .expanded-info { /* Info shown when the button is hovered upon */
    font-weight: 300;
    font-size: 17px;
}

.expand-button .condensed-info { /* Info always shown when and not hovered upon */
    font-weight: 300;
    font-size: 20px;
    color: #666666;
}

.standard-button { /* Standard black button with text */
    background-color: #000000;
    border-color: #000000;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 15px;
    
    flex: 1;
}

.standard-button:hover,
.standard-button:focus {
    background-color: #FF9200;
}

.red-button {  /* Standard red button with text */
    background-color: #ff0000;
    border-width: 2px;
    color: #ffffff;
}

.block-button {
    background-color: #00000010;
    border: none;
    margin: 5px;
    padding: 1.5em 2em;
    height: 17.5em;
    width: 40%;
    
    display: flex;
    align-items: flex-end;
    
    transition-duration: 0.1s;
}

.block-button .focused-info {
    font-weight: bold;
    font-size: 2em;
}

/*-----------------------------+
| Button - Standard Animations |
+-----------------------------*/
.big-color-button:hover,
.big-color-button:focus {
    background-color: #000000;
    color: #ffffff;
    
	/* animations */
    transform: scale(1.03);
    transition-duration: 0.3s;
}

.big-color-button:active {  
    background-color: #FF9200;
}

.highlight-button:hover { 
    background-color: #00000015;
}

.block-button:hover,
.block-button:focus {
    background-color: #000;
    color: #fff;
    
    transform: scale(1.03);
    transition-duration: 0.3s;
}

.expand-button:hover,
.expand-button:focus {
    background-color: #e0e0e0;
    
    /* animations */
    transition-duration: 0.3s;
}

/* Expand button direction */
.extend-left:hover,
.extend-left:focus {
    padding-left: 20px;
}

.extend-right:hover,
.extend-right:focus {
    padding-right: 20px;
}

/*------------------------------+
| Button - Transform Animations |
+------------------------------*/
.toggle-button {
    display: none;
}

.transform-button:hover .toggle-button,
.transform-button:focus .toggle-button {
    display: block;
}

.animate-left, .animate-right {
    transition: transform 0.1s;
}

.transform-button:hover .animate-left,
.transform-button:focus .animate-left {
    transform: translateX(-10px);
    transition: transform 0.3s;
}

.transform-button:hover .animate-right,
.transform-button:focus .animate-right {
    transform: translateX(10px);
    transition: transform 0.3s;
}

.transform-button .animate-rotate90 {
    transform: rotate(0deg);
    transition: transform 0.1s;
}

.transform-button:hover .animate-rotate90,
.transform-button:focus .animate-rotate90 {
    transform: rotate(90deg);
    transition: transform 0.2s;
}

/*----------------------+
| Element Add-On Styles |
+----------------------*/
.blur {
    filter: blur(2px);
}

.icon { /* Icon Spacing */
    width: 25px;
    text-align: left;
}

.hidden {
    display: none;
}

.marginless {
    margin: 0;
}

.marginless-bottom {
    margin-bottom: 0;
}
.side-margins {
    margin: 0 10px;
}

.shadow {
    /*box-shadow: 2px 2px 6px #dddddd;*/
}

.accent-border {
    box-shadow: inset 0 -4px 0 0 #FF9200;
}
.round {
    border-radius: 6px;
}

.top-round {
    border-top-left-radius: 3.75px;
    border-top-right-radius: 3.75px;
}

.bottom-round {
    border-bottom-left-radius: 3.75px;
    border-bottom-right-radius: 3.75px;
}

/*------------------+
| Text Manipulation |
+------------------*/
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.banner-text {
    font-weight: 300;
    font-size: 20px;
}

.big {
    font-size: 2em;
    font-weight: 500;
    margin: 5px 0;
}

.big-info {
    font-size: 1.75em;
    font-weight: normal;
    color: #434343;
}


.captilize,
.focused-info {
    text-transform: uppercase;
}

.focused-info {
    font-size: 1.5em;
    font-weight: bold;
}

.block-button .focused-info {
    font-size: 2.5em;
}

.info { /* Typically only used with labels*/
    font-size: 20px;
    font-weight: 300;
    color: #666666;
    margin: 5px 0;
}

.item-content .info {
    font-size: 15px;
    font-weight: 400;
}

@keyframes showPopUpAnimation {
    0% {
        opacity: 0;
        transform: translate(-50%, -65%);
    }
    20% {
        opacity: 1;
    }
    99% {
        transform: translate(-50%, -70%);
    }
}

@keyframes opacityAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@media all and (max-width: 1400px) {
    .block-button {
        width: 48%;
    }
}
/*-----------------------------------------+
| Medium Screen Sized Device Compatibility |
+-----------------------------------------*/
@media all and (max-width: 1150px) {
    .fixed-sub .fixed-item {
        width: 20em;
    }
    .menugroup {
        column-gap: 0;
    }
    .menulogo {
        margin: 0 10px;
    }
    .menuitem a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .main {
        width: 60%;
    }
    .sub {
        width: 40%;
    }
    .maximize {
        width: 100%;
    }
    .flex-center {
	    column-gap: 0;
	}
}

/*----------------------------------------+
| Small Screen Sized Device Compatibility |
+----------------------------------------*/
@media all and (max-width: 900px) {
    .fixed-sub {
        width: 90%;
    }
    .main,
    .sub, 
    .mini,
    .list .fixed-sub,
    .fixed-sub .fixed-item,
    .menugroup {
        width: 100%;
    }
    .fixed-item {
        position: inherit;
    }
    .menubar, 
    .flex-center, 
    .menugroup,
    .split {
        flex-wrap: wrap;
    }
    .big-color-button .split {
        flex-wrap: nowrap;
    }
    .menugroup {
        justify-content: space-between;
        padding: 0;
    }
    .menutoggle {
        display: block;
    }
    .menutoggle a {
        font-size: 25px;
        color: #ffffff;
    }
    .menulogo, 
    .menutoggle a {
        margin: 0;
        padding: 10px;
    }
    .menuitem {
        order: 3;
        margin: 0;
        width: 100%;
        text-align: center;
        display: none;
    }
    .selected-item {
        box-shadow:inset 5px 0 0 0 #ffffff;
        background-color: #1f1f1f;
    }
    .activez .menuitem {
        display: block;
    }
    .button .secondary { /* divider between buttons and menu links */
        border-bottom: 1px #444 solid;
    }
}
@media all and (max-width: 700px) {
    .block-button {
        width: 100%;
    }
}
